@import url(./hero.css);

:root {
  --primary: #0886a4;
  --text-secondary: rgb(86 86 86);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, sans-serif;
}

header,
main,
footer {
  padding: 2rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', system-ui, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}
